<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <section class="row">
        <div class="col-md-4">
            {{message}}
            <h2>Sign Up Here</h2>
<form action="/signup" method="post">
    <label for="name">Name</label>
    <input type="text" placeholder="name" class="form-control" name="names" id="name">
    <label for="email">Email</label>
    <input type="email" placeholder="email" class="form-control" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter password" class="form-control" name="password" id="password">
    <label for="confirm">Confirm</label>
    <input type="password" placeholder="Confirm" class="form-control" name="confirm" id="confirm">
    <label for="tel">Tel</label>
    <input type="text" placeholder="Enter phone" class="form-control" name="tel" id="tel">
    <input type="submit" class="btn btn-success" >



</form>

        </div>

    </section>

</div>


</body>
</html>